In [19]:
# Chapter03-03
# 파이썬 심화
# 데이터 모델(Data Model)
# 참조 : https://docs.python.org/3/reference/datamodel.html
# Namedtuple 실습
# 파이썬의 중요한 핵심 프레임워크 -> 시퀀스(Sequence), 반복(Iterator), 함수(Functions), 클래스(Class)

In [1]:
# 객체 -> 파이썬의 데이터를 추상화
# 모든 객체 -> id, type -> value

# 일반적인 튜플 사용
pt1 = (1.0, 5.0)
pt2 = (2.5, 1.5)

In [2]:
from math import sqrt

l_leng1 = sqrt((pt2[0] - pt1[0]) ** 2 + (pt2[1] - pt1[1]) ** 2)

print(l_leng1)

3.8078865529319543

In [3]:
# 네임드 튜플 사용
from collections import namedtuple

# 네임드 튜플 선언
Point = namedtuple('Point', 'x y')

# 두 점 선언
pt3 = Point(1.0, 5.0)
pt4 = Point(2.5, 1.5)

In [4]:
# 계산
l_leng2 = sqrt((pt4.x - pt3.x) ** 2 + (pt4.y - pt3.y) ** 2)

# 출력
print(l_leng2)
print(l_leng1 == l_leng2)

3.8078865529319543
True

In [5]:
# 네임드 튜플 선언 방법
Point1 = namedtuple('Point', ['x', 'y'])
Point2 = namedtuple('Point', 'x, y')
Point3 = namedtuple('Point', 'x y')
Point4 = namedtuple('Point', 'x y x class', rename=True) # Default=False

# 출력
print(Point1, Point2, Point3, Point4)

<class '__main__.Point'> <class '__main__.Point'> <class '__main__.Point'> <class '__main__.Point'>

In [6]:
# Dict to Unpacking
temp_dict = {'x': 75, 'y': 55}

In [8]:
# 객체 생성
p1 = Point1(x=10, y=35)
p2 = Point2(20, 40)
p3 = Point3(45, y=20)
p4 = Point4(10, 20, 30, 40)
p5 = Point3(**temp_dict)

# 출력
print(p1, p2, p3, p4, p5)

Point(x=10, y=35) Point(x=20, y=40) Point(x=45, y=20) Point(x=10, y=20, _2=30, _3=40) Point(x=75, y=55)

In [9]:
# 사용
print(p1[0] + p2[1]) # Index Error 주의
print(p1.x + p2.y) # 클래스 변수 접근 방식

50
50

In [14]:
# Unpacking
x, y = p3

print(x+y)

65

In [13]:
# Rename 테스트
print(p4)

# 네임드 튜플 메소드
temp = [52, 38] 

# _make() : 새로운 객체 생성
p4 = Point1._make(temp)

print(p4)

Point(x=10, y=20, _2=30, _3=40)
Point(x=52, y=38)

In [15]:
# _fields : 필드 네임 확인
print(p1._fields, p2._fields, p3._fields)

# _asdict() : OrderedDict 반환
print(p1._asdict(), p4._asdict())

('x', 'y') ('x', 'y') ('x', 'y')
{'x': 10, 'y': 35} {'x': 52, 'y': 38}

In [16]:
# 실 사용 실습
# 반20명 , 4개의 반-> (A,B,C,D) 번호

# 네임드 튜플 선언
Classes = namedtuple('Classes', ['rank', 'number'])

# 그룹 리스트 선언
numbers = [str(n) for n in range(1, 21)]
ranks = 'A B C D'.split()

In [17]:
print(numbers,ranks)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20'] ['A', 'B', 'C', 'D']

In [18]:
# List Comprehension
students = [Classes(rank, number) for rank in ranks for number in numbers]

print(len(students))
print(students)

80
[Classes(rank='A', number='1'), Classes(rank='A', number='2'), Classes(rank='A', number='3'), Classes(rank='A', number='4'), Classes(rank='A', number='5'), Classes(rank='A', number='6'), Classes(rank='A', number='7'), Classes(rank='A', number='8'), Classes(rank='A', number='9'), Classes(rank='A', number='10'), Classes(rank='A', number='11'), Classes(rank='A', number='12'), Classes(rank='A', number='13'), Classes(rank='A', number='14'), Classes(rank='A', number='15'), Classes(rank='A', number='16'), Classes(rank='A', number='17'), Classes(rank='A', number='18'), Classes(rank='A', number='19'), Classes(rank='A', number='20'), Classes(rank='B', number='1'), Classes(rank='B', number='2'), Classes(rank='B', number='3'), Classes(rank='B', number='4'), Classes(rank='B', number='5'), Classes(rank='B', number='6'), Classes(rank='B', number='7'), Classes(rank='B', number='8'), Classes(rank='B', number='9'), Classes(rank='B', number='10'), Classes(rank='B', number='11'), Classes(rank='B', number='12'), Classes(rank='B', number='13'), Classes(rank='B', number='14'), Classes(rank='B', number='15'), Classes(rank='B', number='16'), Classes(rank='B', number='17'), Classes(rank='B', number='18'), Classes(rank='B', number='19'), Classes(rank='B', number='20'), Classes(rank='C', number='1'), Classes(rank='C', number='2'), Classes(rank='C', number='3'), Classes(rank='C', number='4'), Classes(rank='C', number='5'), Classes(rank='C', number='6'), Classes(rank='C', number='7'), Classes(rank='C', number='8'), Classes(rank='C', number='9'), Classes(rank='C', number='10'), Classes(rank='C', number='11'), Classes(rank='C', number='12'), Classes(rank='C', number='13'), Classes(rank='C', number='14'), Classes(rank='C', number='15'), Classes(rank='C', number='16'), Classes(rank='C', number='17'), Classes(rank='C', number='18'), Classes(rank='C', number='19'), Classes(rank='C', number='20'), Classes(rank='D', number='1'), Classes(rank='D', number='2'), Classes(rank='D', number='3'), Classes(rank='D', number='4'), Classes(rank='D', number='5'), Classes(rank='D', number='6'), Classes(rank='D', number='7'), Classes(rank='D', number='8'), Classes(rank='D', number='9'), Classes(rank='D', number='10'), Classes(rank='D', number='11'), Classes(rank='D', number='12'), Classes(rank='D', number='13'), Classes(rank='D', number='14'), Classes(rank='D', number='15'), Classes(rank='D', number='16'), Classes(rank='D', number='17'), Classes(rank='D', number='18'), Classes(rank='D', number='19'), Classes(rank='D', number='20')]

In [20]:
# 추천
students2 = [Classes(rank, number) 
                    for rank in 'A B C D'.split() 
                        for number in [str(n) 
                            for n in range(1,21)]]

print(len(students2))
print(students2)

80
[Classes(rank='A', number='1'), Classes(rank='A', number='2'), Classes(rank='A', number='3'), Classes(rank='A', number='4'), Classes(rank='A', number='5'), Classes(rank='A', number='6'), Classes(rank='A', number='7'), Classes(rank='A', number='8'), Classes(rank='A', number='9'), Classes(rank='A', number='10'), Classes(rank='A', number='11'), Classes(rank='A', number='12'), Classes(rank='A', number='13'), Classes(rank='A', number='14'), Classes(rank='A', number='15'), Classes(rank='A', number='16'), Classes(rank='A', number='17'), Classes(rank='A', number='18'), Classes(rank='A', number='19'), Classes(rank='A', number='20'), Classes(rank='B', number='1'), Classes(rank='B', number='2'), Classes(rank='B', number='3'), Classes(rank='B', number='4'), Classes(rank='B', number='5'), Classes(rank='B', number='6'), Classes(rank='B', number='7'), Classes(rank='B', number='8'), Classes(rank='B', number='9'), Classes(rank='B', number='10'), Classes(rank='B', number='11'), Classes(rank='B', number='12'), Classes(rank='B', number='13'), Classes(rank='B', number='14'), Classes(rank='B', number='15'), Classes(rank='B', number='16'), Classes(rank='B', number='17'), Classes(rank='B', number='18'), Classes(rank='B', number='19'), Classes(rank='B', number='20'), Classes(rank='C', number='1'), Classes(rank='C', number='2'), Classes(rank='C', number='3'), Classes(rank='C', number='4'), Classes(rank='C', number='5'), Classes(rank='C', number='6'), Classes(rank='C', number='7'), Classes(rank='C', number='8'), Classes(rank='C', number='9'), Classes(rank='C', number='10'), Classes(rank='C', number='11'), Classes(rank='C', number='12'), Classes(rank='C', number='13'), Classes(rank='C', number='14'), Classes(rank='C', number='15'), Classes(rank='C', number='16'), Classes(rank='C', number='17'), Classes(rank='C', number='18'), Classes(rank='C', number='19'), Classes(rank='C', number='20'), Classes(rank='D', number='1'), Classes(rank='D', number='2'), Classes(rank='D', number='3'), Classes(rank='D', number='4'), Classes(rank='D', number='5'), Classes(rank='D', number='6'), Classes(rank='D', number='7'), Classes(rank='D', number='8'), Classes(rank='D', number='9'), Classes(rank='D', number='10'), Classes(rank='D', number='11'), Classes(rank='D', number='12'), Classes(rank='D', number='13'), Classes(rank='D', number='14'), Classes(rank='D', number='15'), Classes(rank='D', number='16'), Classes(rank='D', number='17'), Classes(rank='D', number='18'), Classes(rank='D', number='19'), Classes(rank='D', number='20')]

In [21]:
# 출력
for s in students:
    print(s)

Classes(rank='A', number='1')
Classes(rank='A', number='2')
Classes(rank='A', number='3')
Classes(rank='A', number='4')
Classes(rank='A', number='5')
Classes(rank='A', number='6')
Classes(rank='A', number='7')
Classes(rank='A', number='8')
Classes(rank='A', number='9')
Classes(rank='A', number='10')
Classes(rank='A', number='11')
Classes(rank='A', number='12')
Classes(rank='A', number='13')
Classes(rank='A', number='14')
Classes(rank='A', number='15')
Classes(rank='A', number='16')
Classes(rank='A', number='17')
Classes(rank='A', number='18')
Classes(rank='A', number='19')
Classes(rank='A', number='20')
Classes(rank='B', number='1')
Classes(rank='B', number='2')
Classes(rank='B', number='3')
Classes(rank='B', number='4')
Classes(rank='B', number='5')
Classes(rank='B', number='6')
Classes(rank='B', number='7')
Classes(rank='B', number='8')
Classes(rank='B', number='9')
Classes(rank='B', number='10')
Classes(rank='B', number='11')
Classes(rank='B', number='12')
Classes(rank='B', number='13')
Classes(rank='B', number='14')
Classes(rank='B', number='15')
Classes(rank='B', number='16')
Classes(rank='B', number='17')
Classes(rank='B', number='18')
Classes(rank='B', number='19')
Classes(rank='B', number='20')
Classes(rank='C', number='1')
Classes(rank='C', number='2')
Classes(rank='C', number='3')
Classes(rank='C', number='4')
Classes(rank='C', number='5')
Classes(rank='C', number='6')
Classes(rank='C', number='7')
Classes(rank='C', number='8')
Classes(rank='C', number='9')
Classes(rank='C', number='10')
Classes(rank='C', number='11')
Classes(rank='C', number='12')
Classes(rank='C', number='13')
Classes(rank='C', number='14')
Classes(rank='C', number='15')
Classes(rank='C', number='16')
Classes(rank='C', number='17')
Classes(rank='C', number='18')
Classes(rank='C', number='19')
Classes(rank='C', number='20')
Classes(rank='D', number='1')
Classes(rank='D', number='2')
Classes(rank='D', number='3')
Classes(rank='D', number='4')
Classes(rank='D', number='5')
Classes(rank='D', number='6')
Classes(rank='D', number='7')
Classes(rank='D', number='8')
Classes(rank='D', number='9')
Classes(rank='D', number='10')
Classes(rank='D', number='11')
Classes(rank='D', number='12')
Classes(rank='D', number='13')
Classes(rank='D', number='14')
Classes(rank='D', number='15')
Classes(rank='D', number='16')
Classes(rank='D', number='17')
Classes(rank='D', number='18')
Classes(rank='D', number='19')
Classes(rank='D', number='20')